html, body {
  width: 100vw;
  height: 100vh;
  background: $white;
  color: $black;
  max-width: 100%;
  position: relative;
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: fixed;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 90vw;
  margin: auto;

  > nav + div {
    margin-top: 100px;
  }

  &--landing {
    max-width: 95vw;
    margin-right: 0;
  }
}

a {
  color: $black;
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: $hover;
  }
}

img {
  object-fit: contain;
}

// Adapt link color for colored backgrounds
.announcement, footer.footer--colored {
  a {
    color: $white;

    &:hover {
      color: $hover;
    }
  }
}

[v-cloak] {
  display: none !important;
}