html, body {
  width: 100vw;
  height: 100vh;
  background: white;
  color: $--color-primary-text;
  max-width: 100%;
  position: relative;
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: fixed;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 85vw;
  margin: auto;

  > nav + div {
    margin-top: 100px;
  }

  &--landing {
    max-width: 95vw;
    margin-right: 0;
  }
}

a {
  color: $--color-primary-text;
  text-decoration: none;
  transition: 0.3s;
  position: relative;

  &.link-animated {
    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 2px;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: left center;
      transform-origin: left center;
      background-color: $--color-primary-text;
      z-index: -1;
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      -o-transition-property: transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      -webkit-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s;
      -webkit-transition-timing-function: cubic-bezier(.694,0,.335,1);
      -o-transition-timing-function: cubic-bezier(.694,0,.335,1);
      transition-timing-function: cubic-bezier(.694,0,.335,1);
    }

    &:hover::after{
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

img {
  object-fit: contain;
}

[v-cloak] {
  display: none !important;
}

.text {
  &--white {
    color: white;
  }
  &--black {
    color: $--color-text;
  }
}

.arrow {
  font-size: 180%;
  transform: translateY(-2px);
}