.fade-enter-active {
  animation: slide-up .4s ease;
}
.fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes slide-up {
  from {
      transform: translateY(-100px);
  }
  to {
      transform: translateY(0);
  }
}

@keyframes extendLine {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1)
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0)
  }
  to {
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0)
  }
}