@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/rubik/Rubik-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Black';
  src: url('../fonts/rubik/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifSC-Light';
  src: url('../fonts/noto-serif-sc/NotoSerifSC-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifSC-Regular';
  src: url('../fonts/noto-serif-sc/NotoSerifSC-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifSC-Medium';
  src: url('../fonts/noto-serif-sc/NotoSerifSC-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifSC-Bold';
  src: url('../fonts/noto-serif-sc/NotoSerifSC-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifSC-Black';
  src: url('../fonts/noto-serif-sc/NotoSerifSC-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}