body, .is-virtual-scroll {
  overflow: hidden;
}

.vs-scrollbar {
  display: block;
  position: absolute;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  z-index: 100;

  @include small {
    display: none;
  }

  &.vs-vertical {
    width: 15px;
    height: 100%;
    top: 0;
    right: -5px;
    bottom: 0;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);

    &:hover {
      -webkit-transform: none;
      transform: none;
    }

    .vs-scrolldrag {
      width: 100%;
      height: auto;
    }
  }

  &.vs-horizontal {
    width: 100%;
    height: 15px;
    left: 0;
    right: 0;
    bottom: -5px;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);

    &:hover {
      -webkit-transform: none;
      transform: none;
    }

    .vs-scrolldrag {
      width: auto;
      height: 100%;
    }
  }

  .vs-scrolldrag {
    background: $--color-scrollbar;
    cursor: pointer;
  }
}

.is-dragging {
  .vs-scrollbar.vs-horizontal,
  .vs-scrollbar.vs-vertical {
    -webkit-transform: none;
    transform: none;
  }
}