// Define base font-size for the px to rem function
$base-font-size: 16px;

// Colors
$--color-primary-background: #CEE8D5;
$--color-primary-text: #043260;
$--color-primary-button: #043260;
$--color-subtitle: #424C55;
$--color-title: #070600;
$--color-text: #070600;
$--color-scrollbar: #D64550;

// Fonts
$font-title: 'Noto Serif SC', serif;
$font-text: 'Rubik', 'Helvetica Neue', Arial, sans-serif;

// Media queries
$small: 768px;
$medium: 1024px;
$large: 1280px;
