// Define base font-size for the px to rem function
$base-font-size: 16px;

// Colors
$black: #0F0F0F;
$white: #FFFFFF;
$grey: #D8D8D8;
$dark-grey: #515151;
$light-grey: #F2F2F2;
$red: #D64550;
$trout: #495159;
// ---
$primary: #FEC3A6;
$hover: $red;

// Fonts
$font-title: 'Noto Serif SC', serif;
$font-text: 'Rubik', 'Helvetica Neue', Arial, sans-serif;

// Media queries
$small: 768px;
$medium: 1024px;
$large: 1280px;
