.announcement {
  width: 100%;
  background: $--color-primary-background;
  text-align: left;

  &__container {
    padding: rem(30px);
    width: 100%;
    margin: auto;

    @include small {
      padding: rem(60px) 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(72px);
    font-family: $font-title;
    font-weight: 700;

    @include small {
      font-size: rem(35px);
      line-height: rem(52px);
    }
  }

  &__contact {
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(28px);
    margin: rem(50px) 0 rem(50px);
    text-transform: uppercase;
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 5px;
    }

    @include small {
      font-size: rem(14px);
      line-height: rem(26px);
    }
  }
}
