.header {
  width: 100%;
  position: relative;
  background: $--color-primary-background;

  &--full {
    height: 100vh;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: rem(40px);

    @include small {
      padding: rem(20px) rem(10px);
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: rem(80px);
      line-height: rem(120px);
      font-family: $font-title;
      font-weight: 700;
      overflow: hidden;
      text-align: center;

      @include medium {
        font-size: rem(60px);
        line-height: rem(90px);
      }

      @include small {
        font-size: rem(40px);
        line-height: rem(60px);
      }
    }
  }
}

.lateral {
  &__text {
    position: absolute;
    text-transform: uppercase;
    transform: rotate(-270deg);
    transform-origin: 100% 0;
    bottom: 50px;

    @include small {
      display: none;
    }

    &--right {
      right: rem(100px);

      @include medium {
        right: rem(50px);
      }

      @include small {
        right: rem(30px);
      }

      &::before {
        content: "";
        display: block;
        width: rem(50px);
        height: rem(1px);
        -webkit-animation: extendLine 2s cubic-bezier(.4, 0, .2, .9) infinite;
        -o-animation: extendLine 2s cubic-bezier(.4, 0, .2, .9) infinite;
        animation: extendLine 2s cubic-bezier(.4, 0, .2, .9) infinite;
        background: $--color-primary-text;
        position: absolute;
        left: rem(-60px);
        top: rem(8px);
        transform-origin: 100% 100%;
      }
    }
  }
}