.nav {
  position: fixed;
  z-index: 10;
  top: rem(50px);
  left: rem(100px);
  right: rem(100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;

  &-dark {
    background: red;

    a {
      color: $black !important;
    }

  }

  @include medium {
    left: rem(50px);
    right: rem(50px);
  }

  @include small {
    left: rem(30px);
    right: rem(30px);
  }

  a {
    color: $white;
  }

  &__left {
    font-size: rem(22px);
  }

  &__right {
    font-size: rem(18px);
    text-transform: uppercase;
  }
}

.page-works-single,
.page-works-all {
  margin-top: 100px;
}