.nav {
  position: fixed;
  z-index: 10;
  top: rem(50px);
  left: rem(100px);
  right: rem(100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;

  &.has-background {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #fec3a6;
    padding: rem(30px) rem(40px);

    @include small {
      padding: rem(15px) rem(20px);
    }
  }

  &-dark {
    background: red;

    a {
      color: $black !important;
    }

  }

  @include medium {
    left: rem(50px);
    right: rem(50px);
  }

  @include small {
    left: rem(30px);
    right: rem(30px);
  }

  a {
    color: $white;
  }

  &__left {
    font-size: rem(22px);
  }

  &__right {
    font-size: rem(16px);
  }
}

.page-works-single,
.page-works-all {
  // margin-top: 100px;
}