.preloader {
  width: 100vw;
  height: 100vh;
  background: $--color-primary-background;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(120px);
  font-family: $font-title;
  font-weight: 600;
};