.work {
  padding: rem(100px) 0 rem(100px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__blob {
    position: absolute;
    z-index: 0;
  }

  // Handle left/right alignment
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  &:nth-child(odd) {
    .work__content-container {
      align-items: flex-start;
      text-align: left;
    }
    .work__content-type {
      text-align: left;
    }
  }

  & > * {
    width: 50%;
  }

  &__type {
    text-transform: uppercase;
    font-size: rem(15px);
    line-height: rem(23px);
  }

  &__name {
    font-size: rem(48px);
    line-height: rem(72px);
    font-family: $font-title;
    font-weight: 700;
  }

  &__description {
    font-size: rem(18px);
    line-height: rem(28px);
    font-family: $font-text;
    font-weight: 300;
  }

  &__more {
    font-size: rem(15px);
    line-height: rem(25px);
    font-family: $font-text;
    font-weight: 500;
    color: $trout;
    padding-top: rem(30px);
  }

  &__image {
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }

    &--landing {
      height: 300px;
    }
  }

  &__more {
    a {
      color: $black;
    }
  }

  // Intro of work single
  &__intro {
    &-image {
      height: 400px;

      @include medium {
        height: 300px;
      }

      @include small {
        height: 200px;
      }
    }
    &-container {
      width: 90%;
      padding: 50px 0;

      @include small {
        width: 100%;
      }
    }
    &-header {
      width: 50%;
      text-align: right;

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }

      @include small {
        width: 100%;
      }
    }
    &-content {
      width: 60%;
      margin: 0 0 0 auto;
      padding-top: 40px;

      @include small {
        width: 100%;
      }
    }
  }

  &__assets {
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;

    @include small {
      display: block;
      padding-top: 50px;
    }

    > div {
      &:not(:last-child) {
        margin-right: 40px;

        @include small {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }

    img, video {
      width: 100%;
      max-width: 300px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .1);

      @include small {
        width: 60%;
      }
    }
  }

  &__content {

    // Item content container (works-all)
    &-container {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__section {
    padding: rem(100px) 0 rem(50px);

    &-container {
      z-index: 1;

      &.work-explanation {
        width: 40%;

        @include small {
          width: 100%;
          text-align: center;
        }
      }
    }

    &-title {
      font-family: $font-text;
      // font-weight: 400;
      font-size: rem(25px);
      line-height: rem(33px);
    }

    &-description {
      font-family: $font-text;
      font-weight: 300;
      font-size: rem(18px);
      line-height: rem(28px);
      white-space: pre-line;
    }

    // Type: work-fullwidth
    &.work-fullwidth {
      width: 100vw;
      text-align: center;
      padding: 100px 0;

      &.background-blue {
        background: #13315C;
      }

      &.background-red {
        background: #BC412B;
      }

      &.background-green {
        background: #419D78;
      }

      .work__section-title {
        color: $white;
        text-transform: uppercase;
        font-family: $font-text;
        font-weight: 500;
        font-size: rem(23px);
      }
    }

    // Type: work-explanation
    &.work-explanation {
      margin-bottom: 100px;

      > .container {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      // Type: work-explanation-fullwidth
      &-fullwidth {
        width: 100vw;

        .work__assets {
          flex-wrap: wrap;

          > div {
            flex: 1 0 21%;
          }
        }
      }
    }

    // Type: work-asset-fullwidth
    &.work-asset-fullwidth {
      width: 100vw;
      position: relative;
      height: 700px;
      overflow: hidden;

      @include small {
        height: 400px;
        padding: rem(30px) 0;

        img, video {
          width: 100%;
        }
      }

      .work__assets {
        padding-top: 0;

        > div {
          position: absolute;
          left: 0;

          > img, > video {
            max-width: 100%;
          }
        }
      }
    }

    // Type: work-slider-fullwidth
    &.work-slider-fullwidth {
      width: 100vw;
      text-align: center;

      .work__section-title {
        text-transform: uppercase;
        font-family: $font-text;
        font-weight: 500;
        font-size: rem(23px);
      }
    }
  }

  &__next {
    .work {
      flex-direction: row-reverse;

      .work__content-container {
        display: block;
        text-align: right;
      }
      .work__content-type {
        text-align: right;
      }
    }
  }

  &__fields {
    margin-top: 60px;

    &-title {
      font-size: rem(14px);
      line-height: rem(23px);
      text-transform: uppercase;
      color: $red;
      margin-bottom: 30px;
    }

    &-item {
      font-size: rem(23px);
      line-height: rem(34px);
      color: $white;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      width: 250px;
      height: 250px;
      text-align: center;

      &:not(:last-child) {
        margin-right: -40px;
      }

      img {
        width: 100%;
      }

      &-text {
        font-weight: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}