.works {
  width: 100%;
  position: relative;
  color: $--color-text;
  margin-top: rem(-100px);

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    @include medium {
      padding: 0 rem(30px);
    }

    @include small {
      padding: 0 rem(10px);
    }
  }
}
