.work {
  padding: rem(70px) 0 rem(70px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include small {
    padding: 0;
    display: block;
  }

  // Handle left/right alignment
  &:nth-child(even) {
    flex-direction: row-reverse;

    @include small {
      width: 100%;
    }
  }
  &:nth-child(odd) {
    .work__content-container {
      align-items: flex-start;
      text-align: left;
    }
    .work__content-type {
      text-align: left;
    }
  }

  & > * {
    width: 50%;

    @include small {
      width: 100%;
    }
  }

  &__type {
    text-transform: uppercase;
    font-size: rem(14px);
    line-height: rem(21px);
    font-weight: 400;
    color: $--color-subtitle;
  }

  &__name {
    font-size: rem(48px);
    line-height: rem(72px);
    font-family: $font-title;
    font-weight: 700;
    color: $--color-title;

    @include medium {
      font-size: rem(42px);
      line-height: rem(60px);
    }

    @include small {
      font-size: rem(35px);
      line-height: rem(52px);
    }
  }

  &__description {
    font-size: rem(18px);
    line-height: rem(28px);
    font-family: $font-text;
    font-weight: 300;
    color: $--color-text;
  }

  &__more {
    display: inline-block;
    font-size: rem(15px);
    line-height: rem(25px);
    font-family: $font-text;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: rem(15px);
    padding: 10px 50px;
    border: 2px solid $--color-primary-button;
    color: $--color-primary-button;
    border-radius: 25px;

    &:hover {
      background: $--color-primary-button;
      color: white;
    }
  }

  &__small {
    display: inline-block;
    font-size: rem(15px);
    line-height: rem(25px);
    font-family: $font-text;
    font-weight: 400;
    text-transform: uppercase;
    color: $--color-subtitle;
    margin-top: rem(25px);
  }

  &__image {
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;

    img {
      width: 100%;
    }

    &--landing {
      height: 300px;
    }

    @include medium {
      height: 350px;
    }

    @include small {
      width: 90%;
      height: auto;
    }
  }

  a img {
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  // Intro of work single
  &__intro {
    margin-bottom: 50px;

    &-image {
      height: 400px;
      display: flex;
      align-items: flex-end;

      @include medium {
        height: 300px;
      }

      @include small {
        height: 200px;
      }
    }
    &-container {
      width: 90%;
      padding: 90px 0;

      @include small {
        width: 100%;
      }
    }
    &-header {
      width: 50%;
      text-align: right;

      & > *:not(:last-child) {
        margin-bottom: 10px;
      }

      @include small {
        width: 100%;
      }
    }
    &-content {
      width: 60%;
      margin: 0 0 0 auto;
      padding-top: 40px;

      @include small {
        width: 100%;
      }
    }
  }

  &__assets {
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;

    @include small {
      display: block;
      padding-top: 50px;
    }

    .swiper-container {
      width: 100%;
      height: 600px;

      @include small {
        height: 400px;
      }

      .swiper-wrapper {
        display: flex;
        position: absolute;

        > div {
          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }

    img, video {
      width: 100%;
      max-width: 300px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .1);

      @include small {
        width: 80%;
      }
    }
    img.work-asset-fullwidth { box-shadow: none; }
  }

  &__content {

    // Item content container (works-all)
    &-container {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      @include small {
        width: 100%;
        padding: 30px 30px 60px 30px;
      }

      & > *:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__section {
    padding: rem(60px) 0 rem(40px);

    &-container {
      z-index: 1;

      &.work-explanation {
        width: 40%;

        @include small {
          width: 100%;
          text-align: center;
        }
      }
    }

    &-title {
      font-family: $font-text;
      font-weight: 400;
      font-size: rem(25px);
      line-height: rem(33px);
      color: $--color-title;
      text-align: center;
    }

    &-description {
      font-family: $font-text;
      font-weight: 300;
      font-size: rem(18px);
      line-height: rem(28px);
      max-width: 450px;
      margin: auto;
      white-space: pre-line;
      text-align: center;
      color: $--color-text;
    }

    // Type: work-fullwidth
    &.work-fullwidth {
      width: 100vw;
      text-align: center;
      padding: 100px 0;

      &.background-blue {
        background: #13315C;
      }

      &.background-red {
        background: #BC412B;
      }

      &.background-green {
        background: #419D78;
      }

      .work__section-title {
        color: white;
        font-family: $font-text;
        font-weight: 400;
        font-size: rem(23px);
      }

      .work__assets {
        > div {
          padding: 20px;
        }
      }

      // + Type: work-fullwidth-desktop
      &.work-fullwidth-desktop {
        .work__assets {
          flex-direction: column;

          img {
            max-width: 80%;
          }
        }
      }
    }

    // Type: work-explanation
    &.work-explanation {
      // margin-bottom: 100px;

      > .container {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .work__assets {
        > div {
          padding: 20px;
        }
      }

      // Type: work-explanation-fullwidth
      &-fullwidth {
        width: 100vw;

        .work__assets {
          flex-wrap: wrap;

          > div {
            flex: 1 0 21%;
          }
        }
      }
    }

    // Type: work-asset-fullwidth
    &.work-asset-fullwidth {
      width: 100vw;
      position: relative;
      height: 700px;
      overflow: hidden;

      @include small {
        height: 300px;
        padding: rem(30px) 0;

        img, video {
          width: 100%;
        }
      }

      .work__assets {
        padding-top: 0;

        > div {
          position: absolute;
          left: 0;

          > img, > video {
            max-width: 100%;
          }
        }
      }
    }

    // Type: work-slider-fullwidth
    &.work-slider-fullwidth {
      width: 100vw;
      text-align: center;

      .work__assets {
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: hidden;

        img {
          max-width: inherit;
          width: inherit;
          height: 500px;

          @include small {
            height: 300px;
          }
        }
      }

      .work__section-title {
        font-family: $font-text;
        font-weight: 400;
        font-size: rem(23px);
      }
    }
  }

  &__next {
    .work {
      flex-direction: row-reverse;
      padding-top: 70px;

      .work__content-container {
        display: block;
        text-align: right;
      }
      .work__content-type {
        text-align: right;
      }
    }
  }
}